{% extends 'index.html' %}

{% load static %}
  
    {% block titulo %}
    <title>Usuários</title>
    {% endblock %}


    {% load crispy_forms_tags %}
    
        {% block conteudo %}

                {% if object.pk %}
                <h1 class="h3 mb-4 text-gray-800">Editar usuário</h1>
                {% else %}
                <h1 class="h3 mb-4 text-gray-800">Cadastrar novo usuário</h1>
                {% endif %}

                <form method="POST" action="" >
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">

                        {% if object.pk %}
                        <button type="submit" class="save btn btn-warning">Salvar Edição</button>
                        {% else %}
                        <button type="submit" class="save btn btn-success">Salvar</button>
                        {% endif %}

                    </div>
                </form>

        {% endblock %}
               

