
{% extends 'index.html' %}

{% load static %}

    {% block titulo %}
    <title>Listagem</title>
    {% endblock %}


        {% block conteudo %}

            <h1 class="h3 mb-4 text-gray-800">Listagem de Usuários</h1>
                            
            <hr>

            <table class="table table-striped ">
                <thead class="thead thead-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Nível</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    {% for usuario in object_list %}

                    <tr>
                        <td scope="row">{{ usuario.first_name }}</td>
                        <td>{{ usuario.email }}</td>
                        {% if usuario.nivel == 1 %}
                        <td> Administrador</td>
                        {% else %}
                            {% if usuario.nivel == 2 %}
                            <td> Estagiário</td>
                            {% else %}
                                {% if usuario.nivel == 3 %}
                                <td> Diretor</td>
                                {% else %}
                                <td> Avaliador</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <td>
                            <a href="{% url 'update' usuario.pk %}" class="btn btn-warning">editar</a>
                            <a href="{% url 'deletar' usuario.pk %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                        
                    </tr>
                                        
                    {% empty %}
                    
                        Nada foi registrado
                    
                    {% endfor %}

                </tbody>
            </table>

        {% endblock %}
 
        




           
           
