
{% extends 'index.html' %}

{% load static %}

    {% block titulo %}
    <title>Listagem</title>
    {% endblock %}


        {% block conteudo %}

            <h1 class="h3 mb-4 text-gray-800">Listagem de Usuários</h1>
                            
            <hr>

            <table class="table table-striped ">
                <thead >
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>

                    {% for usuario in object_list %}

                    <tr>
                        <td scope="row">{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td><a href="{% url 'update' usuario.pk %}" class="btn btn-warning">editar</a></td>
                        <td><a href="{% url 'deletar' usuario.pk %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a> </td>
                    </tr>
                                        
                    {% empty %}
                    
                        Nada foi registrado
                    
                    {% endfor %}

                </tbody>
            </table>

        {% endblock %}
 
        




           
           
