{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

    {% block titulo %}
        <title>Histórico de avaliações</title>
    {% endblock %}

    {% block administrativo %}

    {% endblock %}

    {% block usuarios %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Mapa do site
        </div>


        <!-- Nav Item - Collapse Menu da Sala de Correção -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseCorrecao" aria-expanded="true"
                aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Sala de Correção</span>
            </a>
            <div id="collapseCorrecao" class="collapse" aria-labelledby="headingPages"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url 'sala_correcao' %}">Página principal</a>
                    <!--<a class="collapse-item" href="{% url 'escolha_resumo' %}">Adicionar resumo a fila</a>-->
                    <a class="collapse-item" href="{% url 'historico_relatorio' %}">Ver histórico</a>
                </div>
            </div>
        </li>
    {% endblock %}

    {% block conteudo %}
    {% if request.user.nivel == 4 %}    
        <h3>Histórico de avaliações</h3>
        <br>
        <br>
    
        <div class="container">
        <table class="table table-striped ">
            <thead >
                <tr>
                    <th>Nota conteudo</th>
                    <th>Nota estrutura</th>
                    <th>Nota ortografia</th>
                    <th>Status</th>
                    <th>Comentário</th>
                    <th>Resumo</th>
                </tr>
            </thead>
            <tbody>

                {% for relatorio in object_list %}
                
                <tr>
                    <td scope="row">{{ relatorio.nota_conteudo }}</td>
                    <td>{{ relatorio.nota_estrutura }}</td>
                    <td>{{ relatorio.nota_ortografia }}</td>
                    <td>{{ relatorio.status }}</td>
                    <td>{{ relatorio.comentario }}</td>
                    <td>{{ relatorio.resumo }}</td>
                </tr>
                                    
                {% empty %}
                
                    Nada foi registrado
                
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
    {% endblock %}