
{% extends 'index.html' %}

{% load static %}

    {% block titulo %}
    <title>Listagem</title>
    {% endblock %}


        {% block conteudo %}

            <h1 class="h3 mb-4 text-gray-800">Listagem de relatórios</h1>
                            
            <hr>

            <table class="table table-striped ">
                <thead class="thead thead-dark">
                    <tr>
                        <th>Nota conteudo</th>
                        <th>Nota estrutura</th>
                        <th>Nota ortografia</th>
                        <th>Status</th>
                        <th>Comentário</th>
                        <th>Resumo</th>
                    </tr>
                </thead>
                <tbody>

                    {% for relatorio in object_list %}

                    <tr>
                        <td scope="row">{{ relatorio.nota_conteudo }}</td>
                        <td>{{ relatorio.nota_estrutura }}</td>
                        <td>{{ relatorio.nota_ortografia }}</td>
                        <td>{{ relatorio.status }}</td>
                        <td>{{ relatorio.comentario }}</td>
                        <td>{{ relatorio.resumo }}</td>
                        <td><a href="{% url 'resumo_update' relatorio.pk %}" class="btn btn-warning">editar</a></td>
                        <td><a href="{% url 'resumo_exclusao' relatorio.pk %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a> </td>
                    </tr>
                                        
                    {% empty %}
                    
                        Nada foi registrado
                    
                    {% endfor %}

                </tbody>
            </table>

        {% endblock %}
 
        




           
           
